.TealButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--teal-ui-gap-1);
	border: none;
	outline: none;
	font-size: var(--teal-ui-font-size);
	font-family: var(--teal-ui-font);
	border-radius: var(--teal-ui-radius);
	padding-left: var(--teal-ui-padding-2);
	padding-right: var(--teal-ui-padding-2);
	transition: var(--teal-ui-transition);
}

.TealButton:disabled {
	opacity: var(--teal-ui-opacity);
}

.TealButton:active {
	filter: brightness(0.95);
}

.TealButton_slimmest {
	height: var(--teal-ui-height-slimmest);
}

.TealButton_slim {
	height: var(--teal-ui-height-slim);
}

.TealButton_regular {
	height: var(--teal-ui-height-regular);
}

.TealButton_tall {
	height: var(--teal-ui-height-tall);
}

.TealButton_fluid {
	width: 100%;
	height: 100%;
}

.TealButton_success {
	color: var(--teal-ui-success-fg);
	background-color: var(--teal-ui-success-bg);
}

.TealButton_success:hover {
	background-color: var(--teal-ui-success-bg-hover);
}

.TealButton_warning {
	color: var(--teal-ui-success-fg);
	background-color: var(--teal-ui-warning-bg);
}

.TealButton_warning:hover {
	background-color: var(--teal-ui-warning-bg-hover);
}

.TealButton_danger {
	color: var(--teal-ui-danger-fg);
	background-color: var(--teal-ui-danger-bg);
}

.TealButton_danger:hover {
	background-color: var(--teal-ui-danger-bg-hover);
}

.TealButton_info {
	color: var(--teal-ui-info-fg);
	background-color: var(--teal-ui-info-bg);
}

.TealButton_info:hover {
	background-color: var(--teal-ui-info-bg-hover);
}

.TealButton_clear {
	color: var(--teal-ui-clear-fg);
	background-color: var(--teal-ui-clear-bg);
}

.TealButton_clear:hover {
	background: var(--teal-ui-clear-bg-hover);
}

.TealButton_white {
	color: var(--teal-ui-white-fg);
	background-color: var(--teal-ui-white-bg);
}

.TealButton_white:hover {
	background: var(--teal-ui-white-bg-hover);
}
