.TealBadge {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--teal-ui-gap-1);
	border-radius: var(--teal-ui-radius);
	padding: 0 var(--teal-ui-padding-2);
}

