.Container {
	height: var(--element-regular);
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: var(--padding-2);
	background-color: var(--light-1);
	border: 1px solid var(--light-4);
	border-radius: var(--radius);

	&:focus-within {
		border-color: var(--teal-3);
		box-shadow: var(--card-shadow);
	}

	&_error {
		border-color: var(--orange-4) !important;
	}

	&_disabled {
		cursor: default;
		opacity: 0.8;
	}
}

.Input {
	outline: none;
	border: none;
	background-color: var(--light-1);
	font-size: var(--basic-font-size);
	font-family: var(--font);
	color: var(--dark-1);
	width: 100%;
}
