.TealRadio {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: stretch;
	width: var(--teal-ui-height-slimmest);
	height: var(--teal-ui-height-slimmest);
	box-sizing: border-box;
	background-color: var(--teal-ui-clear-bg);
	border-radius: var(--teal-ui-radius-circle);
	padding: var(--teal-ui-padding-1);
	transition: var(--teal-ui-transition);
}

.TealRadio_active {
	background-color: var(--teal-ui-success-bg);
}

.TealRadio__dot {
	flex: 1;
	border-radius: var(--teal-ui-radius-circle);
	background-color: var(--teal-ui-white-bg);
}

.TealRadio input {
	display: none;
}

.TealRadio_disabled {
	opacity: var(--teal-ui-opacity-disabled);
}
