:root {
	--teal-1: #00E6E5;
	--teal-2: #00CCCC;
	--teal-3: #00B3B2;
	--teal-4: #009999;
	--teal-5: #008080;

	--blue-1: #99C1F1;
	--blue-2: #62A0EA;
	--blue-3: #3584E4;
	--blue-4: #1C71D8;
	--blue-5: #1A5FB4;

	--green-1: #8FF0A4;
	--green-2: #57E389;
	--green-3: #33D17A;
	--green-4: #2EC27E;
	--green-5: #26A269;

	--yellow-1: #F9F06B;
	--yellow-2: #F8E45C;
	--yellow-3: #F6D32D;
	--yellow-4: #F5C211;
	--yellow-5: #E5A50A;

	--orange-1: #FFBE6F;
	--orange-2: #FFA348;
	--orange-3: #FF7800;
	--orange-4: #E66100;
	--orange-5: #C64600;

	--red-1: #F66151;
	--red-2: #ED333B;
	--red-3: #E01B24;
	--red-4: #C01C28;
	--red-5: #A51D2D;

	--violet-1: #DC8ADD;
	--violet-2: #C061CB;
	--violet-3: #9141AC;
	--violet-4: #813D9C;
	--violet-5: #613583;

	--brown-1: #CDAB8F;
	--brown-2: #B5835A;
	--brown-3: #986A44;
	--brown-4: #865E3C;
	--brown-5: #63452C;

	--light-1: #FFFFFF;
	--light-2: #F6F5F4;
	--light-3: #DEDDDA;
	--light-4: #C0BFBC;
	--light-5: #9A9996;

	--dark-1: #333333;
	--dark-2: #2C2C2C;
	--dark-3: #242424;
	--dark-4: #111111;
	--dark-5: #000000;
}


.text {
	&-teal {
		&-1 {
			color: var(--teal-1);
		}
		&-2 {
			color: var(--teal-2);
		}
		&-3 {
			color: var(--teal-3);
		}
		&-4 {
			color: var(--teal-4);
		}
		&-5 {
			color: var(--teal-5);
		}
	}

	&-blue {
		&-1 {
			color: var(--blue-1);
		}
		&-2 {
			color: var(--blue-2);
		}
		&-3 {
			color: var(--blue-3);
		}
		&-4 {
			color: var(--blue-4);
		}
		&-5 {
			color: var(--blue-5);
		}
	}

	&-green {
		&-1 {
			color: var(--green-1);
		}
		&-2 {
			color: var(--green-2);
		}
		&-3 {
			color: var(--green-3);
		}
		&-4 {
			color: var(--green-4);
		}
		&-5 {
			color: var(--green-5);
		}
	}

	&-yellow {
		&-1 {
			color: var(--yellow-1);
		}
		&-2 {
			color: var(--yellow-2);
		}
		&-3 {
			color: var(--yellow-3);
		}
		&-4 {
			color: var(--yellow-4);
		}
		&-5 {
			color: var(--yellow-5);
		}
	}

	&-orange {
		&-1 {
			color: var(--orange-1);
		}
		&-2 {
			color: var(--orange-2);
		}
		&-3 {
			color: var(--orange-3);
		}
		&-4 {
			color: var(--orange-4);
		}
		&-5 {
			color: var(--orange-5);
		}
	}

	&-red {
		&-1 {
			color: var(--red-1);
		}
		&-2 {
			color: var(--red-2);
		}
		&-3 {
			color: var(--red-3);
		}
		&-4 {
			color: var(--red-4);
		}
		&-5 {
			color: var(--red-5);
		}
	}

	&-violet {
		&-1 {
			color: var(--violet-1);
		}
		&-2 {
			color: var(--violet-2);
		}
		&-3 {
			color: var(--violet-3);
		}
		&-4 {
			color: var(--violet-4);
		}
		&-5 {
			color: var(--violet-5);
		}
	}

	&-brown {
		&-1 {
			color: var(--brown-1);
		}
		&-2 {
			color: var(--brown-2);
		}
		&-3 {
			color: var(--brown-3);
		}
		&-4 {
			color: var(--brown-4);
		}
		&-5 {
			color: var(--brown-5);
		}
	}

	&-light {
		&-1 {
			color: var(--light-1);
		}
		&-2 {
			color: var(--light-2);
		}
		&-3 {
			color: var(--light-3);
		}
		&-4 {
			color: var(--light-4);
		}
		&-5 {
			color: var(--light-5);
		}
	}

	&-dark {
		&-1 {
			color: var(--dark-1);
		}
		&-2 {
			color: var(--dark-2);
		}
		&-3 {
			color: var(--dark-3);
		}
		&-4 {
			color: var(--dark-4);
		}
		&-5 {
			color: var(--dark-5);
		}
	}
}

.border {
	&-teal {
		&-1 {
			border-color: var(--teal-1);
		}
		&-2 {
			border-color: var(--teal-2);
		}
		&-3 {
			border-color: var(--teal-3);
		}
		&-4 {
			border-color: var(--teal-4);
		}
		&-5 {
			border-color: var(--teal-5);
		}
	}

	&-blue {
		&-1 {
			border-color: var(--blue-1);
		}
		&-2 {
			border-color: var(--blue-2);
		}
		&-3 {
			border-color: var(--blue-3);
		}
		&-4 {
			border-color: var(--blue-4);
		}
		&-5 {
			border-color: var(--blue-5);
		}
	}

	&-green {
		&-1 {
			border-color: var(--green-1);
		}
		&-2 {
			border-color: var(--green-2);
		}
		&-3 {
			border-color: var(--green-3);
		}
		&-4 {
			border-color: var(--green-4);
		}
		&-5 {
			border-color: var(--green-5);
		}
	}

	&-yellow {
		&-1 {
			border-color: var(--yellow-1);
		}
		&-2 {
			border-color: var(--yellow-2);
		}
		&-3 {
			border-color: var(--yellow-3);
		}
		&-4 {
			border-color: var(--yellow-4);
		}
		&-5 {
			border-color: var(--yellow-5);
		}
	}

	&-orange {
		&-1 {
			border-color: var(--orange-1);
		}
		&-2 {
			border-color: var(--orange-2);
		}
		&-3 {
			border-color: var(--orange-3);
		}
		&-4 {
			border-color: var(--orange-4);
		}
		&-5 {
			border-color: var(--orange-5);
		}
	}

	&-red {
		&-1 {
			border-color: var(--red-1);
		}
		&-2 {
			border-color: var(--red-2);
		}
		&-3 {
			border-color: var(--red-3);
		}
		&-4 {
			border-color: var(--red-4);
		}
		&-5 {
			border-color: var(--red-5);
		}
	}

	&-violet {
		&-1 {
			border-color: var(--violet-1);
		}
		&-2 {
			border-color: var(--violet-2);
		}
		&-3 {
			border-color: var(--violet-3);
		}
		&-4 {
			border-color: var(--violet-4);
		}
		&-5 {
			border-color: var(--violet-5);
		}
	}

	&-brown {
		&-1 {
			border-color: var(--brown-1);
		}
		&-2 {
			border-color: var(--brown-2);
		}
		&-3 {
			border-color: var(--brown-3);
		}
		&-4 {
			border-color: var(--brown-4);
		}
		&-5 {
			border-color: var(--brown-5);
		}
	}

	&-light {
		&-1 {
			border-color: var(--light-1);
		}
		&-2 {
			border-color: var(--light-2);
		}
		&-3 {
			border-color: var(--light-3);
		}
		&-4 {
			border-color: var(--light-4);
		}
		&-5 {
			border-color: var(--light-5);
		}
	}

	&-dark {
		&-1 {
			border-color: var(--dark-1);
		}
		&-2 {
			border-color: var(--dark-2);
		}
		&-3 {
			border-color: var(--dark-3);
		}
		&-4 {
			border-color: var(--dark-4);
		}
		&-5 {
			border-color: var(--dark-5);
		}
	}
}

.bg {
	&-teal {
		&-1 {
			background-color: var(--teal-1);
		}
		&-2 {
			background-color: var(--teal-2);
		}
		&-3 {
			background-color: var(--teal-3);
		}
		&-4 {
			background-color: var(--teal-4);
		}
		&-5 {
			background-color: var(--teal-5);
		}
	}

	&-blue {
		&-1 {
			background-color: var(--blue-1);
		}
		&-2 {
			background-color: var(--blue-2);
		}
		&-3 {
			background-color: var(--blue-3);
		}
		&-4 {
			background-color: var(--blue-4);
		}
		&-5 {
			background-color: var(--blue-5);
		}
	}

	&-green {
		&-1 {
			background-color: var(--green-1);
		}
		&-2 {
			background-color: var(--green-2);
		}
		&-3 {
			background-color: var(--green-3);
		}
		&-4 {
			background-color: var(--green-4);
		}
		&-5 {
			background-color: var(--green-5);
		}
	}

	&-yellow {
		&-1 {
			background-color: var(--yellow-1);
		}
		&-2 {
			background-color: var(--yellow-2);
		}
		&-3 {
			background-color: var(--yellow-3);
		}
		&-4 {
			background-color: var(--yellow-4);
		}
		&-5 {
			background-color: var(--yellow-5);
		}
	}

	&-orange {
		&-1 {
			background-color: var(--orange-1);
		}
		&-2 {
			background-color: var(--orange-2);
		}
		&-3 {
			background-color: var(--orange-3);
		}
		&-4 {
			background-color: var(--orange-4);
		}
		&-5 {
			background-color: var(--orange-5);
		}
	}

	&-red {
		&-1 {
			background-color: var(--red-1);
		}
		&-2 {
			background-color: var(--red-2);
		}
		&-3 {
			background-color: var(--red-3);
		}
		&-4 {
			background-color: var(--red-4);
		}
		&-5 {
			background-color: var(--red-5);
		}
	}

	&-violet {
		&-1 {
			background-color: var(--violet-1);
		}
		&-2 {
			background-color: var(--violet-2);
		}
		&-3 {
			background-color: var(--violet-3);
		}
		&-4 {
			background-color: var(--violet-4);
		}
		&-5 {
			background-color: var(--violet-5);
		}
	}

	&-brown {
		&-1 {
			background-color: var(--brown-1);
		}
		&-2 {
			background-color: var(--brown-2);
		}
		&-3 {
			background-color: var(--brown-3);
		}
		&-4 {
			background-color: var(--brown-4);
		}
		&-5 {
			background-color: var(--brown-5);
		}
	}

	&-light {
		&-1 {
			background-color: var(--light-1);
		}
		&-2 {
			background-color: var(--light-2);
		}
		&-3 {
			background-color: var(--light-3);
		}
		&-4 {
			background-color: var(--light-4);
		}
		&-5 {
			background-color: var(--light-5);
		}
	}

	&-dark {
		&-1 {
			background-color: var(--dark-1);
		}
		&-2 {
			background-color: var(--dark-2);
		}
		&-3 {
			background-color: var(--dark-3);
		}
		&-4 {
			background-color: var(--dark-4);
		}
		&-5 {
			background-color: var(--dark-5);
		}
	}
}
