@import './colors.css';

:root {
	--t-ui-gap-node: 0;
	--t-ui-gap-0: 2px;
	--t-ui-gap-1: 5px;
	--t-ui-gap-2: 10px;
	--t-ui-gap-3: 15px;
	--t-ui-gap-4: 20px;
	--t-ui-gap-5: 25px;

	--t-ui-padding-none: 0;
	--t-ui-padding-0: 2px;
	--t-ui-padding-1: 5px;
	--t-ui-padding-2: 10px;
	--t-ui-padding-3: 15px;
	--t-ui-padding-4: 20px;
	--t-ui-padding-5: 25px;

	--t-ui-radius: 5px;
	--t-ui-radius-circle: 50%;
	--t-ui-radius-arc: 25px;

	--t-ui-transition: 250ms;
	--t-ui-active-scale: 0.98;

	--t-ui-opacity: 0.7;
	--t-ui-opacity-disabled: 0.7;
	--t-ui-opacity-hover: 0.8;
	--t-ui-opacity-overlay: 0.3;

	--t-ui-font-size: 1.6rem;
	--t-ui-font: monospace;

	--t-ui-height-slimmest: 24px;
	--t-ui-height-slim: 36px;
	--t-ui-height-regular: 40px;
	--t-ui-height-tall: 50px;

	--t-ui-success-fg: var(--t-ui-light-1);
	--t-ui-success-bg: var(--t-ui-teal-4);
	--t-ui-success-bg-hover: var(--t-ui-teal-3);

	--t-ui-warning-fg: var(--t-ui-light-1);
	--t-ui-warning-bg: var(--t-ui-orange-4);
	--t-ui-warning-bg-hover: var(--t-ui-orange-3);

	--t-ui-danger-fg: var(--t-ui-light-1);
	--t-ui-danger-bg: var(--t-ui-red-4);
	--t-ui-danger-bg-hover: var(--t-ui-red-3);

	--t-ui-info-fg: var(--t-ui-light-1);
	--t-ui-info-bg: var(--t-ui-violet-4);
	--t-ui-info-bg-hover: var(--t-ui-violet-3);

	--t-ui-clear-fg: var(--t-ui-dark-5);
	--t-ui-clear-bg: rgba(0, 0, 0, 0.05);
	--t-ui-clear-bg-hover: rgba(0, 0, 0, 0.1);

	--t-ui-white-fg: var(--t-ui-dark-5);
	--t-ui-white-bg: var(--t-ui-light-1);
	--t-ui-white-bg-hover: var(--t-ui-light-2);
}

.t-disablable:disabled {
	opacity: var(--t-ui-opacity);
}

.t-activable:active {
	filter: brightness(0.95);
}

.t-color-mode_success {
	background-color: var(--t-ui-success-bg) !important;
	color: var(--t-ui-success-fg) !important;
}

.t-color-mode_warning {
	background-color: var(--t-ui-warning-bg) !important;
	color: var(--t-ui-warning-fg) !important;
}

.t-color-mode_danger {
	background-color: var(--t-ui-danger-bg) !important;
	color: var(--t-ui-danger-fg) !important;
}

.t-color-mode_info {
	background-color: var(--t-ui-info-bg) !important;
	color: var(--t-ui-info-fg) !important;
}

.t-color-mode_clear {
	background-color: var(--t-ui-clear-bg) !important;
	color: var(--t-ui-clear-fg) !important;
}

.t-color-mode_white {
	background-color: var(--t-ui-white-bg) !important;
	color: var(--t-ui-white-fg) !important;
}

.t-hoverable.t-color-mode_success:hover {
	background-color: var(--t-ui-success-bg-hover);
}

.t-hoverable.t-color-mode_warning:hover {
	background-color: var(--t-ui-warning-bg-hover);
}

.t-hoverable.t-color-mode_danger:hover {
	background-color: var(--t-ui-danger-bg-hover);
}

.t-hoverable.t-color-mode_info:hover {
	background-color: var(--t-ui-info-bg-hover);
}

.t-hoverable:hover.t-color-mode_clear:hover {
	background: var(--t-ui-clear-bg-hover);
}

.t-hoverable.t-color-mode_white:hover {
	background: var(--t-ui-white-bg-hover);
}

.t-size-mode_slimmest {
	height: var(--t-ui-height-slimmest);
}

.t-size-mode_slim {
	height: var(--t-ui-height-slim);
}

.t-size-mode_regular {
	height: var(--t-ui-height-regular);
}

.t-size-mode_tall {
	height: var(--t-ui-height-tall);
}

.t-size-mode_fluid {
	display: flex;
	width: 100%;
	height: 100%;
}
