@import './colors.css';

:root {
	--teal-ui-gap-node: 0;
	--teal-ui-gap-0: 2px;
	--teal-ui-gap-1: 5px;
	--teal-ui-gap-2: 10px;
	--teal-ui-gap-3: 15px;
	--teal-ui-gap-4: 20px;
	--teal-ui-gap-5: 25px;

	--teal-ui-padding-none: 0;
	--teal-ui-padding-0: 2px;
	--teal-ui-padding-1: 5px;
	--teal-ui-padding-2: 10px;
	--teal-ui-padding-3: 15px;
	--teal-ui-padding-4: 20px;
	--teal-ui-padding-5: 25px;

	--teal-ui-radius: 5px;
	--teal-ui-radius-circle: 50%;
	--teal-ui-radius-arc: 25px;

	--teal-ui-transition: 250ms;
	--teal-ui-active-scale: 0.98;

	--teal-ui-opacity: 0.7;
	--teal-ui-opacity-disabled: 0.7;
	--teal-ui-opacity-hover: 0.8;
	--teal-ui-opacity-overlay: 0.3;

	--teal-ui-font-size: 1.6rem;
	--teal-ui-font: monospace;

	--teal-ui-height-slimmest: 24px;
	--teal-ui-height-slim: 36px;
	--teal-ui-height-regular: 40px;
	--teal-ui-height-tall: 50px;

	--teal-ui-success-fg: var(--teal-ui-light-1);
	--teal-ui-success-bg: var(--teal-ui-teal-4);
	--teal-ui-success-bg-hover: var(--teal-ui-teal-3);

	--teal-ui-warning-fg: var(--teal-ui-light-1);
	--teal-ui-warning-bg: var(--teal-ui-orange-4);
	--teal-ui-warning-bg-hover: var(--teal-ui-orange-3);

	--teal-ui-danger-fg: var(--teal-ui-light-1);
	--teal-ui-danger-bg: var(--teal-ui-red-4);
	--teal-ui-danger-bg-hover: var(--teal-ui-red-3);

	--teal-ui-info-fg: var(--teal-ui-light-1);
	--teal-ui-info-bg: var(--teal-ui-violet-4);
	--teal-ui-info-bg-hover: var(--teal-ui-violet-3);

	--teal-ui-clear-fg: var(--teal-ui-dark-5);
	--teal-ui-clear-bg: rgba(0, 0, 0, 0.05);
	--teal-ui-clear-bg-hover: rgba(0, 0, 0, 0.1);

	--teal-ui-white-fg: var(--teal-ui-dark-5);
	--teal-ui-white-bg: var(--teal-ui-light-1);
	--teal-ui-white-bg-hover: var(--teal-ui-light-2);
}

.TealSuccess {
	background-color: var(--teal-ui-success-bg) !important;
	color: var(--teal-ui-success-fg) !important;
}

.TealWarning {
	background-color: var(--teal-ui-warning-bg) !important;
	color: var(--teal-ui-warning-fg) !important;
}

.TealDanger {
	background-color: var(--teal-ui-danger-bg) !important;
	color: var(--teal-ui-danger-fg) !important;
}

.TealInfo {
	background-color: var(--teal-ui-info-bg) !important;
	color: var(--teal-ui-info-fg) !important;
}

.TealClear {
	background-color: var(--teal-ui-clear-bg) !important;
	color: var(--teal-ui-clear-fg) !important;
}

.TealWhite {
	background-color: var(--teal-ui-white-bg) !important;
	color: var(--teal-ui-white-fg) !important;
}
