:root {
	--font: 'Montserrat';
	--logo-font: 'Source Code Pro';

	--logo-text-size: 3.2rem;
	--logo-text-weight: 500;

	--h1-text-size: 3.2rem;
	--h1-text-weight: 500;

	--h2-text-size: 2.4rem;
	--h2-text-weight: 400;

	--h3-text-size: 2.0rem;
	--h3-text-weight: 400;

	--h4-text-size: 1.8rem;
	--h4-text-weight: 400;

	--basic-text-size: 1.6rem;
	--basic-text-weight: 400;
}

.text {
	&-basic {
		font-size: var(--basic-text-size);
		font-weight: var(--basic-text-weight);
	}

	&-h1 {
		font-size: var(--h1-text-size);
		font-weight: var(--h1-text-weight);
	}

	&-h2 {
		font-size: var(--h2-text-size);
		font-weight: var(--h2-text-weight);
	}

	&-h3 {
		font-size: var(--h3-text-size);
		font-weight: var(--h3-text-weight);
	}

	&-h4 {
		font-size: var(--h4-text-size);
		font-weight: var(--h4-text-weight);
	}
}

