.TealChoiceOption {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--teal-ui-gap-2);
	padding: 0 var(--teal-ui-padding-2);
	border-radius: 5px;
	cursor: default;
}

.TealChoiceOption:hover {
	background-color: var(--teal-ui-light-1);
	opacity: 0.9;
}

.TealChoiceOption_active {
	background-color: var(--teal-ui-light-1);
}

.TealChoiceOption_disabled {
	opacity: var(--teal-ui-opacity-disabled) !important;
}

.TealChoiceOption__content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--teal-ui-gap-1);
}

.TealChoiceOption__checkContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 12px;
	height: 12px;
	background: var(--teal-ui-light-1);
	border-radius: var(--teal-ui-radius);
}

.TealChoiceOption_disabled .TealChoiceOption__checkContainer {
	background: var(--teal-ui-light-1);
}

.TealChoiceOption_active .TealChoiceOption__checkContainer {
	background: transparent;
}

.TealChoiceOption__checkIcon {
	opacity: 0;
}

.TealChoiceOption:hover .TealChoiceOption__checkIcon {
	opacity: var(--teal-ui-opacity-hover);
}

.TealChoiceOption_active .TealChoiceOption__checkIcon {
	opacity: 1;
}

