.TealToggle {
	display: inline-flex;
	flex-direction: row;
	align-items: stretch;
	gap: var(--teal-ui-gap-0);
	padding: var(--teal-ui-padding-0);
	background-color: var(--teal-ui-light-3);
	border-radius: var(--teal-ui-radius-arc);
	transition: var(--teal-ui-transition);
	height: var(--teal-ui-height-slimmest);
	width: calc(var(--teal-ui-height-slimmest) * 2);
}

.TealToggle_active {
	background-color: var(--teal-ui-success-bg);
}

.TealToggle_disabled {
	opacity: var(--teal-ui-opacity-disabled);
}

.TealToggle__dot {
	flex: 1;
	background-color: var(--teal-ui-light-1);
	border-radius: var(--teal-ui-radius-circle);
}

.TealToggle__spacer {
	flex: 1;
}

.TealToggle_active {
	flex-direction: row-reverse;
}
